.footer {
  background-color: #b50014;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.footer .footer-child {
  height: 100%;
  width: 40%;
}
.footer .footer-child .contact-container {
  margin: auto;
  height: 90px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.icon {
  margin-right: 5px;
}

.footer .footer-child:nth-child(2) {
  height: 50%;
}
.footer .footer-child.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer .footer-child.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
}
.footer .footer-child.logo img {
  width: 50%;
}
.footer .footer-child.social {
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.moved {
  padding-left: 18px;
}

.social a {
  text-decoration: none;
  color: #ffffff;
  margin-inline: 5px;
  font-size: 30px;
}

.nav-underline-footer {
  background-color: #66000b;
  width: 100%;
  height: fit-content;
}
.nav-underline-footer .nav-underline-footer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nav-underline-footer .nav-underline-footer-div p {
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: auto;
  opacity: 50%;
}
.nav-underline-footer .nav-underline-footer-div p span {
  text-decoration: underline;
  font-style: italic;
  opacity: 78%;
}
.nav-underline-footer .nav-underline-footer-div p:nth-child(2) {
  width: 20%;
}

@media (max-width: 1000px) {
  .footer {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer .footer-child {
    width: 100%;
    margin: 20px 0;
  }
  .footer .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer .contact-container p {
    margin-bottom: 4px;
  }
  .footer .contact-container i {
    margin-right: 5px;
  }
  .footer .footer-child.logo {
    width: 50%;
  }
  .footer .footer-child.social {
    width: 100%;
    display: block;
  }
  .nav-underline-footer .nav-underline-footer-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .nav-underline-footer .nav-underline-footer-div p {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    opacity: 50%;
  }
  .nav-underline-footer .nav-underline-footer-div p span {
    text-decoration: underline;
    font-style: italic;
    opacity: 78%;
  }
  .nav-underline-footer .nav-underline-footer-div p:nth-child(2) {
    display: none;
  }
}
